.project-card {
    padding: 0.3rem;
    background: var(--bg2);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 950px;
    margin: 50px auto;
    height: 420px;
    border-radius: 1rem;
    font-size: 1.1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.project-left {
    flex-direction: row-reverse;
}


@keyframes projectCardAnimate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.project-img {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    height: 100%;
    max-width: 100%;
    width: 580px;
    min-width: auto;
    overflow-y: hidden;
    position: relative;
    background-color: hsla(0, 0%, 46%, .2);
    transition: 1s;
}

.project-img::-webkit-scrollbar {
    display: none;
}

.project-img img {
    width: 100%;
    object-fit:cover;
    object-position: top;
    height: 100%;
    transition: 4s all ease;
    cursor: pointer;

    &:hover {
        object-position: bottom;
    }
}

.project-content {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-around;
}

.project-card-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.project-card-buttons>p {
    padding: 5px 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: black;
}

.project-cart-demo {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.project-cart-demo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text);
}

@media (max-width:1000px) {
    .project-card {
        display: flex;
        flex-direction: column-reverse;
        width: 500px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: auto;
    }

    .odd {
        display: flex;
        flex-direction: column;
    }

    .project-head {}

    .project-img {
        height: 300px;
    }

    .project-img img {
        width: 100%;
        border-radius: 15px;
    }
}

@media(max-width:500px) {
    .project-card {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}