.hero-container-main {
    background: var(--bg);
    width: 100%;
    height: calc(100vh);
    padding: 0 5rem;
    position: relative;
}

.hero-main {
    padding-top: 7rem;
    gap: 130px;
    display: flex;
    margin: auto;
    /* max-width: 80%; */
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--text);
}

.hero-heading {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.hero-heading h1 {
    font-weight: 900;
    font-size: 3rem;
}

.hero-text>p {
    font-size: 1.2rem;
    color: var(--text2);
}

.share-icon {
    font-size: 2rem;
    display: flex;
    gap: 5px;
}

.share-icon a {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

.hero-container-main {
    padding-bottom: 50px;
    padding-top: 0px;
}

.ParaTxtColorDark {
    color: var(--text);
}

.hero-img {
    width: 22rem;
    height: 22rem;
    background: #BDB9B6;
    background-image: url(../../assets/img/pro2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -webkit-animation: morfh 7s ease-in-out infinite;
    filter: grayscale(5%);
}



@-webkit-keyframes morfh {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.techStack {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0 10px;
}

.logos img {
    width: 45px;
}

.logos ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    cursor: pointer;
}

.logos li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    /* gap: 0.5rem; */

    &:hover {
        transform: translateY(-0.6rem);
    }
}



.logos img {
    width: 50px;
    height: 50px;
    border-radius: 0.4rem;
    /* background: rgb(255, 255, 255); */
    padding: 0.1rem;
}




.css-i4bv87-MuiSvgIcon-root {
    color: var(--text);
}

/* ---------------------------------------------techLogos-ab-------------- */

.techLogos-ab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    cursor: pointer;

    top: 5rem;
    
}

.techLogos-ab > img{
    position: absolute;
    order: random();
    opacity: 0.5;   
    z-index: 1; 
    transition: 0.2s ease-in-out;

    &:hover{
        opacity: 1;
        scale: 1.2;
    }
}

.techLogos-ab > img:nth-child(1){
    top: 10rem;
    left: 2rem;
}
.techLogos-ab > img:nth-child(2){
    bottom: 5rem;
    left: 3rem;
}

.techLogos-ab > img:nth-child(3){
    bottom: 20rem;
    right: 2rem;
}

.techLogos-ab > img:nth-child(4){
    bottom: 16rem;
    left: 7rem;
}

.techLogos-ab > img:nth-child(5){
    bottom: 6rem;
    right: 10rem;
}

.techLogos-ab > img:nth-child(6){
    top: 17rem;
    left:50% ;
}

.techLogos-ab > img:nth-child(7){
    bottom: 13rem;
    left:40% ;
}

.techLogos-ab > img:nth-child(8){
    bottom: 10rem;
    left:10rem ;
}

/* -----END----------------------------------------techLogos-ab-------------- */


@media(max-width:800px) {

    .techLogos-ab{
        display: none;
    }

    .hero-container-main {
        height: auto;
        padding: 0 2rem;
    }

    .hero-main {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .hero-heading {
        display: flex;
        justify-content: center;
    }

    .hero-text {
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
}

@media(max-width:400px) {
    .hero-container-main {
        padding: 0 1rem;
    }

    .hero-img {
        width: 100%;
        height: calc(90vw);
    }
}