/* about section  */

.about-section {
  background: var(--bg2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 4rem;
  padding-right: 10px;
}

.about-text {
  color: #767676;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30rem;
}
.about-img {
  width: 28rem;
}
.about-img img {
  width: 28rem;
  object-fit: center;
  border-radius: 1.2rem;
}

.about-text p {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 400;
}

#aboutme {
  color: var(--highlight);
  font-weight: bolder;
}

#head-ab {
  color: var(--text);
}

.para-ab {
  text-align:justify;
  color: var(--text);
}

@media (max-width: 800px) {
  .about-section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }

  .about-img {
    width: 100%;
    padding: 0;
    display: grid;
    place-items: center;
  }

  .about-img img {
    width: 200px;
  }

  .about-text {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }

  .para-ab {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .about-img img {
    width: 50%;
    overflow: hidden;
  }
}
